
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Home</div>
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="index.html">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Principal
            </a>
            <div class="sb-sidenav-menu-heading">Estoque</div>
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'estoque:lista_produtos' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Itens
            </a>
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'estoque:emprestimos' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Emprestimo
            </a>  
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'estoque:emprestimos_registrados' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Devolução
            </a> 
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'estoque:relatorio_emprestimos' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Relatório
            </a> 
            <div class="sb-sidenav-menu-heading">Usários</div>
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'consumidores:lista_consumidores' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Consumidores
            </a>           
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logado como:</div>
        {{ request.user.username }}
    </div>
</nav>
