{% extends "layouts/base.html" %}

{% block title %} Itens {% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.min.css">   
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css" crossorigin="anonymous" />
{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Itens</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Itens</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Exemplo
                </div>
                <div class="card-body">
                    <table id="datatablesSimple" class="table table-striped">
                        <button class="adicionar-button" onclick="window.location.href='{% url 'estoque:adicionar_produto' %}'">Adicionar Produto</button>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Quantidade</th>
                                <th>Descrição</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in produtos %}
                                <tr>
                                    <td>{{ produto.nome }}</td>
                                    <td>{{ produto.quantidade }}</td>
                                    <td>{{ produto.descricao }}</td>
                                    <td class="actions">
                                        <button class="editar-button" onclick="window.location.href='{% url 'estoque:editar_produto' produto.id %}'">Editar</button>
                                        <button onclick="confirmarExclusao({{ produto.id }}, '{{ produto.nome }}')">Excluir</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

{% block javascripts %}
<script>function confirmarExclusao(produtoId, produtoNome) {
    Swal.fire({
      title: 'Confirmação',
      text: `Tem certeza que deseja excluir o produto "${produtoNome}"?`,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Sim',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = `/seu/endpoint/de/exclusao/${produtoId}/`;
      }
    });
  }
  </script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js" crossorigin="anonymous"></script>
{% endblock javascripts %}
