{% extends "layouts/base.html" %}

{% block title %} Itens {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css" crossorigin="anonymous" />
{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Itens</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Itens</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Exemplo
                </div>
                <div class="card-body">
                    <table id="datatablesSimple" class="table table-striped">
                        <button class="adicionar-button" onclick="window.location.href='{% url 'estoque:adicionar_produto' %}'">Adicionar Produto</button>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Quantidade</th>
                                <th>Descrição</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in produtos %}
                                <tr>
                                    <td>{{ produto.nome }}</td>
                                    <td>{{ produto.quantidade }}</td>
                                    <td>{{ produto.descricao }}</td>
                                    <td class="actions">
                                        <button class="editar-button" onclick="window.location.href='{% url 'estoque:editar_produto' produto.id %}'">Editar</button>
                                        <button class="remover-button" href="{% url 'estoque:remover_produto' produto.id %}">Excluir</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js" crossorigin="anonymous"></script>
    <!-- Importe o jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Defina a função JavaScript para exibir o pop-up de confirmação -->
<script>
    $(document).ready(function() {
        $(".remover-button").click(function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            if (confirm("Tem certeza de que deseja excluir este item?")) {
                window.location.href = url;
            }
        });
    });
</script>
{% endblock javascripts %}
