{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Consumidores</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Lista de Consumidores
                </div>
                <button onclick="window.location.href='{% url 'consumidores:adicionar_consumidor' %}'">Adicionar consumidor</button>
                <div class="card-body">
                    <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Nome</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consumidor in consumidores %}
                                    <tr>
                                        <td>{{ consumidor.id_consumidor }}</td>
                                        <td>{{ consumidor.email }}</td>
                                        <td>{{ consumidor.nome }}</td>
                                        <td class="actions">
                                            <a href="{% url 'consumidores:editar_consumidor' pk=consumidor.pk %}">Editar</a>
                        <a href="{% url 'consumidores:remover_consumidor' pk=consumidor.pk %}">Remover</a>
                                        </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">Nenhum consumidor encontrado.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}