<html>
<head>
    <!-- Hotjar Tracking Code for Almoxarifado -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3559957,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<body>

{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header text-center">
                            <h3 class="text-center font-weight-light my-4">
                                Login
                            </h3>
                            <span class="text-center">
                                {% if msg %}
                                    <span class="text-danger"> {{ msg | safe }} </span>
                                {% else %}
                                    Adicione suas credenciais
                                {% endif %} 
                            </span>                            
                        </div>
                        <div class="card-body">
                            
                            <form role="form" method="post" action="">

                                {% csrf_token %}  

                                <div class="form-group">
                                    <label class="small mb-1" for="username">Nome de usuário</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Senha</label>
                                    {{ form.password }}
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                        <label class="custom-control-label" for="rememberPasswordCheck">Lembrar da minha senha</label>
                                    </div>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <button type="submit" name="login" class="btn btn-primary">Entrar</button>
                                    <div class="small">
                                        <a href="{% url 'register' %}">Registrar-se</a></div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                               Almoxarifado
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

</body>
</html>
