<!DOCTYPE html>
<html>
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td class="actions">
                        <button class="editar-button" onclick="window.location.href='{% url 'estoque:editar_produto' produto.id %}'">Editar</button>
                        <button class="remover-button" onclick="window.location.href='{% url 'estoque:remover_produto' produto.id %}'">Excluir</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="adicionar-button" onclick="window.location.href='{% url 'estoque:adicionar_produto' %}'">Adicionar Produto</button>
</body>
</html>
